body {
    margin-bottom: 20px;
    /*font-size: 16px;*/
}

section {
    margin-bottom: 50px;
}
.well {
    padding: 2px;
}

.row {
    margin-bottom: 20px;
}
.input {
    padding: 10px;
    margin: 2px;
    border: 1px solid red;
}


table caption {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

td.caption {
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.small {
    color: #111;
    font-size: 1.2em;
    font-weight: normal;
}