<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Electron Diffusion in Liquid Argon</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
  <link rel="stylesheet" href="css/app.css" media="screen" />
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>

<body>
  <div class="container">

    <div class="page-header">
      <h1>
        Calculator for Liquid Argon Properties
      </h1>
    </div>

    <div id="app">
      <div class="row input">
        <div class="col-md-1 ">
          <strong>Input:</strong>
        </div>
        <div class="col-md-11">
          E (kV/cm) <input v-model="E"> &nbsp;
          T (K) <input v-model="T"> &nbsp;
        </div>
      </div>


      <table class="table">
        <tr>
          <th>property</th><th>value</th>
        </tr>
        <tr>
          <td><a href="#mu">electron mobility</a> $\mu$ (cm$^2$V$^{-1}$s$^{-1}$)</td>
          <td>{{ mu | trunc }}</td>
        </tr>
        <tr>
          <td><a href="#v">electron drift velocity</a> $v$ (cm/$\mu$s)</td>
          <td>{{ v | trunc }}</td>
        </tr>
        <tr>
          <td><a href="#eps_L">effective longitudinal electron energy</a> $\epsilon_L$ (eV) </td>
          <td>{{ eps_L | trunc }}</td>
        </tr>
        <tr>
          <td><a href="#D_L">longitudinal diffusion coefficients</a> $D_L$ (cm$^2$/s)</td>
          <td>{{ D_L | trunc }}</td>
        </tr>
      </table>

      <hr>

      <h2>References</h2>
      <div class="row">
        <div class="col-md-12">
          <a name="ref1">[1]</a> Y. Li, et al., "Measurement of Longitudinal Electron Diffusion in Liquid Argon", <a href="http://arxiv.org/abs/1508.07059">arXiv:1508.07059</a>.
        </div>
      </div>

      <a name="mu"></a><h2>Electron mobility in LAr</h2>
      <div class="row">
        <div class="col-md-8">
          The electron mobility data set used in our global data fit are from Ref. [29, 45–58] in Ref. <a href="#ref1">[1]</a>. LAr temperature
          used in this global fit is 89 K. The data reported in the references are all scaled to this temperature with
          the temperature dependence of $T^{−3/2}$ (Ref. [59] in Ref. <a href="#ref1">[1]</a>). The fitting function is a rational polynomial expressed as:
          \[
          \mu=\frac{a_0+a_1E+a_2E^{3/2}+a_3E^{5/2}}{1+(a_1/a_0)E+a_4E^2+a_5E^3}\left(\frac{T}{T_0}\right)^{-3/2},
          \]
          where $E$ is the electric field  in the unit of kV/cm and $a_0 = 551.6$cm$^2$/s is the electron mobility at zero field with temperature of $T_0$ = 89 K, $T$ is the LAr temperature. The fitting parameters are given bys
          \[
          a_0 = 551.6, \quad
          a_1 = 7953.7, \quad
          a_2 = 4440.43, \quad
          a_3 = 4.29, \quad
          a_4 = 43.63, \quad
          a_5 = 0.2053,
          \]
        </div>
        <div class="col-md-4">
          <img src="img/lar_mob_data.gif" alt="" width="300">
        </div>
      </div>

      <a name="v"></a><h2>Electron drift velocity in LAr</h2>
      <div class="row">
        <div class="col-md-12">
          Electron drift velocity is a product of electron mobility and the electric field.
          \[
            v = \mu E
          \]
        </div>
      </div>

      <a name="eps_L"></a><h2>Effective longitudinal electron energy</h2>
      <div class="row">
        <div class="col-md-8">
          We introduce a parameterization of the effective electron energy for the convenience of application. Both the data in Ref. <a href="#ref1">[1]</a> and ICARUS's data at low field are included. The parameterization is also in a form of rational polynomial
          \[
          \epsilon_L=\frac{b_0+b_1E+b_2E^2}{1+(b_1/b_0)E+b_3E^2}\left(\frac{T}{T_1}\right)
          \]
          where $E$ is the electric field in the unit of kV/cm and $b_0=0.0075$ eV is the electron energy
          at $T_1$ = 87 K under zero field and $T$ is the LAr temperature. The parameterization can be applied to other
          temperatures with a linear temperature dependence of $T$.
          The fitting parameters are given bys
          \[
          b_0 = 0.0075, \quad
          b_1 = 742.9, \quad
          b_2 = 3269.6, \quad
          b_3 = 31678.2, \quad
          \]
        </div>
        <div class="col-md-4">
          <img src="img/lar_el_data.gif" alt="" width="300">
        </div>
      </div>



      <a name="D_L"></a><h2>Longitudinal diffusion coefficients</h2>
      <div class="row">
        <div class="col-md-12">
          The longitudinal diffusion coefficients $D_L$ in the range of 0.1 to 1.5 kV/cm can be expressed as
          defined by the Einstein relation
          \[
          D_L=\frac{\mu\epsilon_L}{e}=\left(\frac{a_0+a_1E+a_2E^{3/2}+a_3E^{5/2}}{1+(a_1/a_0)E+a_4E^2+a_5E^3}\right)\left(\frac{b_0+b_1E+b_2E^2}{1+(b_1/b_0)E+b_3E^2}\right)\left(\frac{T}{T_0}\right)^{-3/2}\left(\frac{T}{T_1}\right),
          \]
          with the parameters given previously.
        </div>
      </div>


     <a name="Property"></a><h2>LAr properties table</h2>
     <div class="row">
     <div class="col-md-12">
    All values are on the liquid-vapor saturation line and at E=500 V/cm unless otherwsie indcated.
    <table class="table table-bordered">
    <thead>
    <tr>
    <th>Quantity</th>
    <th>Symbol</th>
    <th>Value</th>
    <th>Unit</th>
    </tr>
    <tr>
    <th>Automic Number</th>
    <th>$Z$</th>
    <th>18</th>
    <th>-</th>
    </tr>
    <tr>
    <th>Automic Weight</th>
    <th>$A$</th>
    <th>39.948(1)</th>
    <th>g/mol</th>
    </tr>
    <tr>
    <th>Isotopic composition</th>
    <td colspan="3">$A$=36,38,40 stable, 39, 43 t$_{1/2}$>1 yr</td>
    </tr>
    <tr>
    <td colspan="4"></td>
    </tr>
    <tr>
    <th colspan="4">Thermodynamic Properties</th>
    </tr>
    <tr>
    <th>Normal boiling point</th>
    <th>$T_\text{NBP}$</th>
    <th>87.303(2)</th>
    <th>K</th>
    </tr>
    <tr>
    <th>Density</th>
    <th>$\rho_\text{NBP}$</th>
    <th>1.396(1)</th>
    <th>g/ml</th>
    </tr>
    <tr>
    <th>Vapor/Liquid volume ratio</th>
    <th>$V(g)/V(l)$</th>
    <th>241.7</th>
    <th>-</th>
    </tr>
    <tr>
    <th>Normal freezing point</th>
    <th>$T_\text{NFP}$</th>
    <th>83.8(3)</th>
    <th>K</th>
    </tr>
    <tr>
    <th>Temperature at triple point</th>
    <th>$T_\text{Triple}$</th>
    <th>83.8058</th>
    <th>K</th>
    </tr>
    <tr>
    <th>Pressure at triple point</th>
    <th>$P_\text{triple}$</th>
    <th>0.68891(2)</th>
    <th>bar</th>
    </tr>
    <tr>
    <th>Density at triple point</th>
    <th>$\rho_\text{Triple}$</th>
    <th>1.417</th>
    <th>g/cm$^3$</th>
    </tr>
    <tr>
    <th>Temperature at critical point</th>
    <th>$T_\text{C}$</th>
    <th>150.687(15)</th>
    <th>K</th>
    </tr>
    <tr>
    <th>Pressure at critical point</th>
    <th>$P_\text{C}$</th>
    <th>48.63(3)</th>
    <th>bar</th>
    </tr>
    <tr>
    <th>Density at critical point</th>
    <th>$\rho_\text{C}$</th>
    <th>0.5356(10)</th>
    <th>g/cm$^3$</th>
    </tr>
    <tr>
    <th>Heat of vaporization</th>
    <th>$\Delta H_\text{vap}$</th>
    <th>161.14</th>
    <th>kJ/kg</th>
    </tr>
    <tr>
    <th>Heat capacity</th>
    <th>$C_\text{p}$</th>
    <th>1.117</th>
    <th>kJ/kg/K</th>
    </tr>
    <tr>
    <th>Thermal conductivity</th>
    <th>$\rho_\text{NBP}$</th>
    <th>0.1256</th>
    <th>W/m/K</th>
    </tr>
    <tr>
    <th>Viscosity</th>
    <th>$\eta$</th>
    <th>270.7</th>
    <th>$\mu$Pas$\cdot$s</th>
    </tr>
    <tr>
    <th>Speed of sound</th>
    <th>$v_\text{s}$</th>
    <th>838.3(1)</th>
    <th>m/s</th>
    </tr>
    
    <tr>
    <td colspan="4"></td>
    </tr>
    <tr>
    <th colspan="4">Response to electromagnetic radiation</th>
    </tr>
    <tr>
    <th>Delectric constant</th>
    <th>$\epsilon$</th>
    <th>1.505(3)</th>
    <th>-</th>
    </tr>
    <tr>
    <th>Index of refraction (at 128 nm)</th>
    <th>$n$</th>
    <th>1.38</th>
    <th>-</th>
    </tr>
    <tr>
    <th>Rayleigh scattering length (at 128 nm)</th>
    <th>$L_\text{R}$</th>
    <th>95</th>
    <th>cm</th>
    </tr>
    <tr>
    <th>Absorption length (> 128 nm)</th>
    <th>$L_\text{A}$</th>
    <th>>200</th>
    <th>cm</th>
    </tr>

    <tr>
    <td colspan="4"></td>
    </tr>
    <tr>
    <th colspan="4">Response to ionization radiation</th>
    </tr>  
    <tr>
    <th>W-value for ionization</th>
    <th>$W_\text{i}$</th>
    <th>23.6(3)</th>
    <th>eV/pair</th>
    </tr>
    <tr>
    <th>W-value for scintillation</th>
    <th>$W_\text{s}$</th>
    <th>19.5</th>
    <th>eV/photon</th>
    </tr>
    <tr>
    <th>W-value for Cerenkov radiation</th>
    <th>$W_\text{c}$</th>
    <th>2700</th>
    <th>eV/photon</th>
    </tr>
    <tr>
    <th>Fano factor</th>
    <th>$F$</th>
    <th>0.107</th>
    <th>-</th>
    </tr>
    <tr>
    <th>Moliere radius</th>
    <th>$R_\text{M}$</th>
    <th>10.0</th>
    <th>cm</th>
    </tr>
    <tr>
    <th>Radiation length</th>
    <th>$X_0$</th>
    <th>14.0</th>
    <th>cm</th>
    </tr>
    <tr>
    <th>Nuclear interaction length</th>
    <th>$\lambda_\text{i}$</th>
    <th>85.7</th>
    <th>cm</th>
    </tr>
    <tr>
    <th>Critical energy</th>
    <th>$E_\text{c}$</th>
    <th>30.5</th>
    <th>MeV</th>
    </tr>
    <tr>
    <th>Mininum specific energy loss</th>
    <th>$dE_\text{MIP}/dx$</th>
    <th>2.12</th>
    <th>MeV/cm</th>
    </tr>
    <tr>
    <th>Scintillation emission peak</th>
    <th>$\lambda_\text{scint}$</th>
    <th>128(10)</th>
    <th>nm</th>
    </tr>
    <tr>
    <th>Decay time</th>
    <th>$\tau_\text{scint}$</th>
    <th>6(2), 1590(100)</th>
    <th>ns</th>
    </tr>

    <tr>
    <td colspan="4"></td>
    </tr>
    <tr>
    <th colspan="6">Isotopic composition and radiological purity</th>
    </tr>  
    <tr>
    <th>Isotope</th>
    <th>Relative Mass</th>
    <th>Abundance</th>
    <th>Decay Mode</th>
    <th>Half Life</th>
    <th>Q-value(MeV)</th>
    </tr>
    <tr>
    <th>36</th>
    <th>35.96754628(27)</th>
    <th>0.337(3)</th>
    <th>stable</th>
    <th>-</th>
    <th>-</th>
    </tr>
    <tr>
    <th>37</th>
    <th></th>
    <th>nil</th>
    <th>EC,$\beta^+$</th>
    <th>35.04d</th>
    <th>0.8135(3)</th>
    </tr>
    <tr>
    <th>38</th>
    <th>37.9627322(5)</th>
    <th>0.063(1)</th>
    <th>stable</th>
    <th>-</th>
    <th>-</th>
    </tr>
     <tr>
    <th>39</th>
    <th></th>
    <th>1.01(8)Bq/kg</th>
    <th>$\beta^-$</th>
    <th>269y</th>
    <th>0.565(5)</th>
    </tr>
    <tr>
    <th>40</th>
    <th>39.962383123(3)</th>
    <th>99.600(3)</th>
    <th>stable</th>
    <th>-</th>
    <th>-</th>
    </tr>
    <tr>
    <th>41</th>
    <th></th>
    <th>nil</th>
    <th>$\beta^-$</th>
    <th>109.34m</th>
    <th>2.4916(7)</th>
    </tr>
    <tr>
    <th>42</th>
    <th></th>
    <th>6$\times10^{-5}$ Bq/kg</th>
    <th>$\beta^-$</th>
    <th>32.9y</th>
    <th>0.599(40)</th>
    </tr>
 

    </table>
    </div>

  </div>
    <div class="col-md-4">
    <h1>LAr Phase Diagram</h1>
    Attempt to add plot in.

          <img src="img/lar_phase.gif" alt="" width="300">
        </div>

  <script src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
